// base
@import '@arco-design/web-vue/es/style/icon.less';
@import '@arco-design/web-vue/es/style/animation/index.less';
@import '@arco-design/web-vue/es/style/theme/index.less';
@import '@arco-design/web-vue/es/style/theme/css-variables.less';

// Select
@import '@arco-design/web-vue/es/input/style/index.css';
@import '@arco-design/web-vue/es/_components/input-label/style/index.css';
@import '@arco-design/web-vue/es/tag/style/index.css';
@import '@arco-design/web-vue/es/input-tag/style/index.css';
@import '@arco-design/web-vue/es/_components/select-view/style/index.css';
@import '@arco-design/web-vue/es/trigger/style/index.css';
@import '@arco-design/web-vue/es/empty/style/index.css';
@import '@arco-design/web-vue/es/checkbox/style/index.css';
@import '@arco-design/web-vue/es/scrollbar/style/index.css';
@import '@arco-design/web-vue/es/select/style/index.css';

// Date-Picker
@import '@arco-design/web-vue/es/_components/picker/style/index.css';
@import '@arco-design/web-vue/es/time-picker/style/index.css';
@import '@arco-design/web-vue/es/button/style/index.css';
@import '@arco-design/web-vue/es/link/style/index.css';
@import '@arco-design/web-vue/es/date-picker/style/index.css';

// tabs
@import '@arco-design/web-vue/es/tabs/style/index.css';

[data-name='Calendar'] {
  .b3-menu__item {
    &,
    &--current {
      background-color: transparent !important;
      height: auto !important;
      width: auto !important;
      padding: 0;
    }
  }

  .arco-select-view-single,
  .arco-picker-week-list {
    box-sizing: border-box !important;
  }
}
.arco-tabs,
.arco-trigger-popup {
  // 主色 (r,g,b)
  --arco-primary: 53, 117, 240;
  --primary-6: var(--arco-primary);
  // 浅主色
  --color-primary-light-2: var(--b3-theme-primary-lightest);

  // 页面底色
  --color-bg-1: var(--b3-menu-background);
  // 下拉选择框输入时底色
  --color-bg-2: var(--b3-menu-background);
  // 下拉选择框底色 && 下拉菜单选项悬浮底色
  --color-fill-2: var(--b3-list-hover);
  --color-fill-3: var(--b3-list-hover);

  // 日历底色
  --color-bg-popup: var(--b3-theme-background);

  // 边框颜色
  --color-neutral-3: var(--b3-border-color);

  // 文字颜色
  --color-text-1: var(--b3-theme-on-background);

  color: var(--color-text-1);
  svg {
    fill: none;
  }
  a:hover {
    text-decoration: none;
  }
  // :deep(svg) {
  //     fill: none;
  // }
  // :deep(a:hover) {
  //     text-decoration: none;
  // }
}

.arco-picker-cell {
  .arco-picker-date-value {
    border: 1.4px solid transparent;
    border-radius: var(--border-radius-medium);
  }

  // 非选中日期
  &:not(.arco-picker-cell-selected) {
    .arco-picker-date-value:hover {
      background-color: transparent !important;
    }

    // 当月日期
    &.arco-picker-cell-in-view {
      .arco-picker-date-value:hover {
        border-color: rgb(var(--primary-6));
      }

      .exist {
        color: rgb(var(--primary-6)) !important;
        background-color: var(--color-primary-light-2);

        &:hover {
          background-color: var(--color-primary-light-2) !important;
        }
      }
    }

    // 非当月日期
    &:not(.arco-picker-cell-in-view) {
      .arco-picker-date-value:hover {
        border-color: var(--color-neutral-3);
      }

      .exist {
        background-color: var(--color-fill-2);

        &:hover {
          background-color: var(--color-fill-2) !important;
        }
      }
    }
  }
}

.arco-select-dropdown {
  padding: 6px !important;
}

.arco-select-option {
  border-radius: var(--border-radius-medium);
}
